@import 'variables';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  background-color: $bgColour;
  color: $black;
}

header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1em 2em;

  h1 {
    padding-bottom: 0.5em;
  }
}

h1 {
  font-size: 24px;
  margin: 0;
  width: 100%;

  &.title {
    text-align: center;
    border-bottom: 1px solid $black;
  }
}

.container {
  width: 400px;
  padding: 1em;
  margin: 0 auto;

  @media screen and (max-width: 400px) {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;

    input {
      width: 90%;
    }

    button {
      width: 97%;
    }
  }

  form {
    margin: 0;
    padding: 0;
  }

  .main-form {
    font-size: 18px;
    padding: 1em;
    text-align: center;

    input, button {
      font-size: 18px;
      padding: 0.5em;
      background-color: $white;
      border: 1px solid $black;
      color: $black;
      margin: 0.5em;
    }
  }
}