{% extends 'skeleton.twig' %}

{% block header %}
    <h1 class="title">Make Small(er) Urls</h1>
{% endblock %}

{%  block body %}
<div class="main-form">
    <form action="/shorten" method="post">
        <label for="url" style="display: none">Url</label>
        <input type="text" name="url" placeholder="Url" />
        <button type="submit">Shorten</button>
    </form>
</div>
{% endblock %}
