<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div class="container">
            <header>
                {% block header %}{% endblock %}
            </header>

            <nav>
                {% block nav %}{% endblock %}
            </nav>

            <div class="main">
                {% block body %}{% endblock %}
            </div>

            <footer>
                {% block footer %}{% endblock %}
            </footer>
        </div>
    </body>

    {%  block js_include %}{% endblock %}
</html>